[Unit]
Description=fix fan and HDD settings
Requires=network.target
After=sysinit.target suspend.target hibernate.target hybrid-sleep.target

[Service]
User=root
Type=oneshot
ExecStart=/usr/libexec/fix_fans.sh

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target sysinit.target

